.searchBox {
  border: 1px solid transparent;
  border-radius: 9999px;
  background: var(--color-border);
  display: flex;
  align-items: center;
  padding: 10px 16px;
  gap: 8px;
  flex-grow: 1;
}

.searchBox:focus-within {
  border-color: var(--color-accent);
}

.input {
  background: transparent;
  border: none;
  caret-color: var(--color-text);
  color: var(--color-text);
  font-family: var(--font-archivo-black);
  flex: 1;
}

.input::placeholder {
  color: var(--color-text-muted);
}

.input:focus {
  outline: none;
}

.icon {
  color: var(--color-text-muted);
}
