.navbar {
  font-family: var(--archivo_black_spot_check_nav_span);
}

.div {
  height: 64px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0px 20px;
  background: oklch(0.21 0.014 260);
  color: black;
  border-bottom: 1px solid oklch(0.32 0.02 260);
  z-index: 20;
}
